doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Webpack Template
  body
    // main wrapper
    .wrapper
      // #app wrapper for vue
      #app
        header
        // only content wrapper
        .content-wrapper
          // expamle section
          section#promo(style='text-align:center;')
            .container
              h1 Webpack Template
          // expamle vue component
          example-component
        // end content wrapper
        footer
      // end #app wrapper